@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

:root {
  /* PRIMARY */
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --soft-green: hsl(93, 67%, 47%);
  /* NEUTRAL */
  --dark-grayish-red: hsl(0, 6%, 24%);
  /* GRADIENTS */
  --gradient-1: 135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%);
  --gradient-2: 135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%);
}

/* General Styling */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Josefin Sans", sans-serif;
  line-height: 1;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--dark-grayish-red);
  background-image: linear-gradient(var(--gradient-1));
  min-width: 30rem;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

/* Main */
main {
  min-height: calc(100vh - 5rem);
}

/* Header */
header {
  height: 9rem;
  padding: 0 3rem;

  display: flex;
  align-items: center;
}

header img {
  height: 2.2rem;
}

/* Img-section */
.img-section {
  height: 24rem;
  background-image: url(../images/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Text-section */
.text-section {
  padding: 6rem 1rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

h1 {
  margin: 0;
  padding: 0;
  width: 30rem;
  text-transform: uppercase;
  font-size: 3.6rem;
  letter-spacing: 1rem;
}
h1 span {
  font-weight: 300;
  color: var(--desaturated-red);
}

p {
  color: var(--desaturated-red);
  line-height: 1.5;
}

/* Email box */
.email-box {
  text-align: left;
  width: 100%;
}

.input-container {
  position: relative;
}

.email-box input {
  width: 100%;
  background: transparent;
  border: 0.1rem solid hsla(0, 6%, 24%, 0.2);
  border-radius: 99rem;
  padding: 1.5rem 10rem 1.5rem 3rem;
  outline: none;
  color: var(--dark-grayish-red);
}

.email-box .error-icon {
  display: none;
  position: absolute;
  right: 10rem;
  top: 50%;
  transform: translateY(-50%);
}

.email-box button {
  cursor: pointer;
  border-radius: 99rem;
  border: none;
  outline: none;
  background-image: linear-gradient(var(--gradient-2));
  box-shadow: 0 1rem 1.5rem hsla(0, 36%, 70%, 0.3);

  position: absolute;
  right: -0.1rem;
  top: 50%;
  transform: translateY(-50%);
  width: 9rem;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.email-box button:hover,
.email-box button:active {
  background-image: linear-gradient(135deg, hsl(0, 80%, 96%), hsl(0, 74%, 84%));
  box-shadow: 0 1rem 1.5rem hsla(0, 36%, 70%, 0.7);
}

.email-box .message {
  width: 80%;
  padding-left: 3rem;
  padding-top: 0.7rem;
  font-size: 1.3rem;
}

.email-box .error-message {
  display: none;
  color: var(--soft-red);
}

.email-box .success-message {
  display: none;
  color: var(--soft-green);
}

/* Email-box error-state */
.email-box.error input {
  border: 0.2rem solid var(--soft-red);
  padding: 1.5rem 13rem 1.5rem 3rem;
}

.email-box.error .error-icon {
  display: block;
}

.email-box.error .error-message {
  display: inline-block;
}

.email-box.success .success-message {
  display: inline-block;
}

/* Footer */
footer {
  height: 5rem;
  min-width: 17rem;
  color: var(--dark-grayish-red);
  background-color: transparent;
  font-size: 1.3rem;
  line-height: 1.3;

  gap: 1rem;
}

.attribution {
  font-size: 1.1rem;
}

.attribution a:link,
.attribution a:visited {
  color: var(--dark-grayish-red);
  padding: 0.1rem;
  text-decoration: none;
}

.attribution a:hover,
.attribution a:active {
  border-bottom: 0.1rem solid var(--dark-grayish-red);
}
